@import url("resource:///org/numixproject/gtk/dist/gtk.css");
decoration {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #6f665d;
}
decoration:backdrop {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #373737;
}
