/*
 * ORIGINAL DOTFILES: https://github.com/ErikReider/SwayNotificationCenter/discussions/183#discussioncomment-8022846
 */

@define-color cc-bg #272E33;
/* @define-color cc-bg rgba(39, 46, 51, 0.9); */
@define-color noti-border-color #2E383C;
@define-color noti-bg #414B50;
@define-color noti-bg-darker #374145;
@define-color text-color #D3C6AA;
@define-color text-color-disabled #D3C6AA;
@define-color bg-selected #A7C080;
@define-color accent #A7C080;

:root {
  --border-radius: 0px;
}
 
* {
    font-family: JetBrainsMonoNerdFont;
    font-weight: normal;
	font-size: 14px;
	color: @text-color;
}
 
.control-center .notification-row:focus,
/* .control-center .notification-row:hover {
    opacity: 1;
    background: @noti-bg-darker;
} */
 
.notification-row {
    outline: none;
    margin: 20px;
    padding: 0;
}
 
.notification {
    background: @cc-bg;
    margin: 0px;
}
 
.notification-content {
    background: @cc-bg;
    padding: 7px;
    border-radius: 0px;
    border: 1px solid @noti-border-color;
    margin: 0;
}
 
.close-button {
    background: @accent;
    color: @cc-bg;
    text-shadow: none;
    padding: 0;
    border-radius: 0px;
    margin-top: 5px;
    margin-right: 5px;
}
 
.close-button:hover {
    box-shadow: none;
    background: @accent;
    transition: all .15s ease-in-out;
    border: none;
}
 
/* .notification-action {
    color: @text-color;
    border: 1px solid #85796f;
    border-top: none;
    border-radius: 0px;
    background: #32302F;
} */
 
.notification-default-action:hover,
.notification-action:hover {
    background: @cc-bg;
} 
 
.summary {
	padding-top: 7px;
    font-size: 13px;
}
 
.time {
    font-size: 11px;
    color: @accent;
    margin-right: 24px;
}
 
.body {
    font-size: 12px;
}
 
.control-center {
    background: @cc-bg;
    border: 1px solid @noti-border-color;
    border-radius: 0px;
}
 
.control-center-list {
    background: transparent;
}
 
.control-center-list-placeholder {
    opacity: .5;
}
 
.floating-notifications {
    background: transparent;
}
 
.blank-window {
    background: alpha(black, 0.25);
}
 
.widget-title {
    background: @noti-bg-darker;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 1.5rem;
    border-radius: 0px;
}
 
.widget-title>button {
    font-size: 1rem;
    text-shadow: none;
    background: @noti-bg;
    box-shadow: none;
    border-radius: 0px;
}
 
/* .widget-title>button:hover {
    background: @accent;
    color: @cc-bg;
} */
 
.widget-dnd {
    background: @noti-bg-darker;
    padding: 5px 10px;
    margin: 5px 10px 10px 10px;
    border-radius: 0px;
    font-size: large;
}
 
.widget-dnd>switch {
    border-radius: 0px;
    background: @noti-bg;
}
 
.widget-dnd>switch:checked {
    background: @accent;
}
 
.widget-dnd>switch slider {
    background: @cc-bg;
    border-radius: 0px;
}
 
.widget-dnd>switch:checked slider {
    background: @cc-bg;
    border-radius: 0px;
}
 
.widget-label {
    margin: 10px 10px 5px 10px;
    color: @text-color;
}
 
.widget-label>label {
    font-size: 1rem;
    color: @text-color;
}
 
.widget-mpris {
    color: @text-color;
    background: @noti-bg-darker;
    padding: 5px 10px 0px 0px;
    margin: 5px 10px 5px 10px;
    border-radius: 0px;
}
 
.widget-mpris > box > button {
    border-radius: 0px;
}
 
.widget-mpris-player {
    padding: 5px 10px;
    margin: 10px;
}
 
.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem;
}
 
.widget-mpris-subtitle {
    font-size: 1.1rem;
}
/*
.widget-buttons-grid {
    font-size: x-large;
    padding: 5px;
    margin: 5px 10px 10px 10px;
    border-radius: 0px;
    background: @noti-bg-darker;
}
 
.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 3px;
    background: @cc-bg;
    border-radius: 0px;
    color: @text-color
}
 
.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @accent;
    color: @cc-bg;
} */
 
.widget-menubar>box>.menu-button-bar>button {
    border: none;
    background: transparent;
}
 
.topbar-buttons>button {
    border: none;
    background: transparent;
}

