@import url("resource:///org/numixproject/gtk-3.20/dist/gtk-dark.css");
decoration {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #616b69;
}
decoration:backdrop {
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: #2E383C;
}
